/docker
/node_modules
/public/hot
/public/css
/public/js
/public/images
/public/fonts
/public/mix-manifest.json
/public/storage
/storage/*.key
/database/docker/mongodb
/database/docker/mysql
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
