.app-table tr th:first-child {
    padding: 10px 5px 10px 15px !important
}

.app-table-footer {
    margin: 0;
    padding: 15px 3px 13px;
    background-color: #f7f7f7;
    border-top: 1px solid #dee2e6;
}

.app-table-footer .pagination {
    margin: 0;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

@media (max-width: 575.98px) {
    .app-table-footer .pagination, .app-table-footer .table-footer-info {
        margin: 0;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

/* ============== */
/* Dashboard Card */
/* ============== */

.dashboard-card {
    background-color: #FFF;
    color: #404E67 !important;
    margin-bottom: 15px;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
}

.dashboard-card .green {
    color: #16D39A !important
}

.dashboard-card .red {
    color: #FF7588!important;
}

.dashboard-card .blue {
color: #3598db!important;
}

.dashboard-card .purple {
    color: #9a59b5!important;
}

.dashboard-card .icon {
    margin-right: -30px;
    margin-top: 25px;
}

.dashboard-card .data-info .desc {
    font-size: 1.3rem;
    line-height: 26px;
}
